# ignore evarything in the following folders
conf/local/**
src/utils/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
data/Food_Inspections.csv
ingestion/consecutive/*.pkl
ingestion/initial/*.pkl
sandbox/*
.DS_Store
__pycache__/
results/processed-data/*.pkl
results/feature-engineering/*.pkl
results/ingestion/consecutive/*.pkl
results/ingestion/initial/*.pkl
results/models/best-models/*.pkl
results/models/training-models/*.pkl
